* {
    outline: none !important;
}

body {
    margin: 0;
    padding: 2em;
    font-family: Lucida Sans,Lucida Grande,Arial !important;
    font-size: 13px !important;
    background: white;
    color: #333;
}

button {
	-webkit-transition: background-color 0.2s linear;
	border-radius:4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #E4F2FF;
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #769DC0;
	padding: 2px 8px 4px;
	font-size:1em;
}

button:hover {
	background-color: #AFD9FF;
	color: #000000;
}

h1 {
	font-size:1.5em;
	float: left;
}

.break
{
float:none;
clear:both;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
 
#appLayout {
    height: 100%;
}
 
.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}
 
#viewsChart {
    width: 550px;
    height: 550px;
}

#navigation {
	float: right;
}

.lineButton {
	background-image: url("images/tools2.png");
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    text-align: center;
}

.freehandButton {
	background-image: url("images/pencil.png");
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    text-align: center;
}

.undoButton {
	background-image: url("images/edit_undo.png");
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    text-align: center;
}

.redoButton {
	background-image: url("images/edit_redo.png");
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    text-align: center;
}

.clearButton {
	background-image: url("images/edit_clear.png");
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
 
.pageOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
}
 
#loadingOverlay {
    background:  #fff url('http://ajax.googleapis.com/ajax/libs/dojo/1.9.3/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 10px 23px;
}
 
.loadingMessage {
    padding: 25px 40px;
    color: #999;
}

#signature {
	text-align: right;
}